{% load static %}
<g transform='translate(0,0)'>
	<g id="card1">
		<rect x='0' y='0' height='80' width='140' style='stroke-width:3; stroke:#000000; fill:#FFFFFF'/>
		<g class="move-grid" transform="translate(10,10)">
			<rect x="0" y="0" width="60" height="60" fill="none" stroke="black" stroke-width="1"></rect>
			<line class="vert-line" x1="12" x2="12" y1="0" y2="60" stroke="black" stroke-width="1"></line>
			<line class="vert-line" x1="24" x2="24" y1="0" y2="60" stroke="black" stroke-width="1"></line>
			<line class="vert-line" x1="36" x2="36" y1="0" y2="60" stroke="black" stroke-width="1"></line>
			<line class="vert-line" x1="48" x2="48" y1="0" y2="60" stroke="black" stroke-width="1"></line>
			<line class="horz-line" y1="12" y2="12" x1="0" x2="60" stroke="black" stroke-width="1"></line>
			<line class="horz-line" y1="24" y2="24" x1="0" x2="60" stroke="black" stroke-width="1"></line>
			<line class="horz-line" y1="36" y2="36" x1="0" x2="60" stroke="black" stroke-width="1"></line>
			<line class="horz-line" y1="48" y2="48" x1="0" x2="60" stroke="black" stroke-width="1"></line>
			<rect class="position" x="0" y="24" width="12" height="12" fill="grey"></rect>
			<rect class="position" x="48" y="24" width="12" height="12" fill="grey"></rect>
			<rect class="position" x="24" y="12" width="12" height="12" fill="grey"></rect>
			<rect class="border" x="24" y="24" width="12" height="12" fill="black"></rect>
		</g>
		<text class="card-caption" text-anchor="middle" x="100" y="45">Crab</text>
	</g>

	<g id="card2">
		<rect x='160' y='0' height='80' width='140' style='stroke-width:3; stroke:#000000; fill:#FFFFFF'/>
	</g>
</g>

<g transform='translate(0,480)'>
	<g id="card5">
		<rect x='0' y='0' height='80' width='140' style='stroke-width:3; stroke:#000000; fill:#FFFFFF'/>
	</g>

	<g id="card4">
		<rect x='160' y='0' height='80' width='140' style='stroke-width:3; stroke:#000000; fill:#FFFFFF'/>
	</g>
</g>

<g transform='translate(350,240)'>
	<g id="card3">
		<rect x='0' y='0' height='80' width='140' style='stroke-width:3; stroke:#000000; fill:#FFFFFF'/>
	</g>
</g>