.game-container{
	height: 100vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

body {
	background: no-repeat bottom right fixed url('https://gitlab.com/luluilmaknun/kelompok-anum/raw/onitama_view/onitama_template/static/images/forest.jpg');
	background-size: cover;
}